@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap'); // Beau Rivage
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&display=swap'); // Grape Nuts

body {
    font-family: 'Grape Nuts', 'Beau Rivage', sans-serif;
    background-color: bisque;
}

h1 {
    font-size: 62px;
}

table {
    background-color: blue;
    height: 148px;
}